:root{
  --bg-color: #1f242d;
  --second-bg-color:  #323946;
  --text-color:  #fff;
  --main-color:  #0ef;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
}

.about-img img{
  width: 35vw;
  transform: scaleX(-1);
}

.heading{
  text-align: center;
  font-size: 4.5rem;

}

.about-content h2{
  margin-bottom: 3rem;
  text-align: left;
  line-height: 1.2;
}


.about-content h3{
  font-size: 2.6rem;
}

.about-content p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}


#about-text{
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 865px){
  .about{
    flex-direction: column-reverse;
  }
  
  .about img{
    width: 65vw;
    margin-top: 3rem;
  }
}

@media (max-width: 768px){
  .about{
    flex-direction: column-reverse;
  }
  
  .about img{
    width: 70vw;
    margin-top: 4rem;
  }
  
}




